body{
    width: 960px;
    margin: auto;
    background-color: rgb(244, 248, 248);

}

header{
    display: flex;
    align-items: center;
    height: 80px;
}
header nav a{
    padding: 10px 20px;
    font-size: 15px;

}
nav{
    background-color: rgb(93, 190, 235);
    padding-inline-start: 500px;
}
header nav a:hover{
    color: brown;
}
img{
    width: 300px;
    border-radius: 50%;
}
div{
    display: grid;
    grid-template-columns: 1fr 400px;
    
}
p{
    display: flex;
    color: brown;

}
button{
    font-size: 15px;
    background-color: aqua;
}
button:hover{
    color: rgb(247, 82, 6);
}
footer{
    background-color: darkgray;
}
h4{
    padding-top: 50px;
    margin-left: 400px;
    display: flex;
    align-items: center;
}
h5{
    margin-left: 450px;
    display: flex;
    align-items: center; 
}